body {
  	background-color: white;
  	font-family: 'Mukta', sans-serif;
  	text-align: left;
  	color: #585858;
  	margin: 0;
  	font-weight: 700;
}

h1 {
    font-family: 'Mukta', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.2em;
    color: #e0b029;
}

h2 {
    font-family: 'Rozha One', sans-serif;
    color: black;
    font-size: 60px;
    line-height: 93%;
    margin-top: -5px;
}

p{
  	font-family: 'Mukta', sans-serif;
  	font-size: 18px;
  	font-weight: 500;
  	line-height: 170%;
    color: #666;
    margin-bottom: 20px;
}

h2:hover {
	 color: #e0b029;
}

a:link {
    text-decoration: none;
	 color: #e0b029;

}

a:visited {
	 text-decoration: none;
	 color: #e0b029;

}

a:hover {
	 text-decoration: underline;
}

a:active {
	 text-decoration: underline;
}

hr.solid {
  border-top: 2px solid #f2f2f2;
  margin-bottom: 40px;
}

img{
    position: absolute;
    width: 346px;
    height: 635px;
    left: 480px;
    top: 0px;
}

.centered {
    width: 350px;
    position: fixed;
    top: 50%;
    left: 35%;
    margin-top: -300px;
    margin-left: -250px;
}

.centered .small {
  font-size: 14px;
  font-weight: 400;
  line-height: 200%;
  color: #999;
  margin-bottom: 40px; 
}

.topRibbon {
  	height: 10px;
  	width: 100%;
  	overflow: hidden;
    	position: fixed;
    	top: 0;
  	background-color: #e0b029;
  	color: white;
}

.goldbox {
  position: absolute;
  width: 385px;
  height: 467px;
  left: 540px;
  top: 120px;
  background: #e0b029;
}